<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" th:href="@{main.css}">
</head>
<body>

<nav th:insert="~{templateInserts :: navbar}"></nav>

<table  th:object="${product}">
    <tr>
        <td>name</td>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <td>category</td>
        <td th:text="*{category}"></td>
    </tr>
    <tr>
        <td>Description</td>
        <td th:text="*{decription}"></td>
    </tr>
    <tr>
        <td>Offered by</td>
        <td th:text="*{person.name}"></td>
    </tr>
    <tr>
        <td>Price</td>
        <td th:text="*{price}"></td>
    </tr>
</table>



<footer th:insert="~{templateInserts :: footer}"></footer>
</body>
</html>