<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="navbar">
    <ul>
        <li><a class="headlink" th:href="@{~/index}">Derdehands.be</a></li>
        <li><a th:href="@{~/new}">Nieuw product</a></li>
        <li><a th:href="@{~/about}">Over ons</a></li>
    </ul>
</nav>

<footer th:fragment="footer">
    <div>
        <div>
            <p>Copyright 2023 derdehands Benelux. all rights reserved</p>


        </div>
    </div>
</footer>




</table>

</body>
</html>